@model login.Models.Search

<div class="results-container">
    @foreach (var a in Model.Articles)
    {
        <div class="search-result">
            <h1 class="result-text result-title">@a.Title</h1>
            <h2 class="result-text result-author">
                <span>Written by </span>@a.Author
            </h2>
            <h3 class="result-text result-source">
                <span>Read the original article</span>
                <a href=@a.Url>HERE</a>
            </h3>
            <img class="article-image" src=@a.ThumbnailUrl alt="Thumbnail" />
            <p class="result-text result-description">
                @Html.Raw(a.Description)
            </p>
            <p class="result-date">@a.PublicationDate</p>
            <p class="result-category">Category: @a.Category</p>
        </div>
    }
 </div>
