@model login.Models.Search
<h1 class="title-search-page">We found the following repositories</h1>
<div class="repo-container">
@foreach(var r in Model.Repos)
{
   <div class="repo-wrapper">
    <h1 class="repo-name">@r.Name</h1>
    <p class="repo-description">@r.Description</p>
    <img class="user-image" src=@r.AvatarUrl \>
    <p class="repo-owner">@r.User</p>
    <a href="@r.Url" class="repo-url">Link</a>
    <p class="repo-language">@r.Lang</p>
   </div>
}
</div>