@model login.Models.Search

    <div class="search-bar-container">
    @using (Html.BeginForm("Show", "Searches", FormMethod.Post, new { @class = "search" }))
    {
        @Html.AntiForgeryToken()
        @Html.EditorFor(model => model.SearchTerm, new { htmlAttributes = new { @placeholder = "Enter search term and language", @autocomplete  = "off" } })
        <div class="search-buttons-container">
            @Html.RadioButtonFor(model => model.SearchType, login.Models.SearchType.SourceCode, new { @class = "search-type", @checked = "true" })
            <p>Repositories</p>
            @Html.RadioButtonFor(model => model.SearchType, login.Models.SearchType.Article, new { @class = "search-type" })
            <p>Article</p>
            @Html.RadioButtonFor(model => model.SearchType, login.Models.SearchType.Video, new { @class = "search-type" })
            <p>Video</p>
        </div>
    }
    </div>
    

   