@model login.Models.Search

<div class="search-bar-container">
    @using (Html.BeginForm("Show", "Searches", FormMethod.Post, new { @class = "search" }))
    {
        @Html.AntiForgeryToken()
        @Html.EditorFor(model => model.SearchTerm, new { htmlAttributes = new { @placeholder = "Enter search term, language and github user", @autocomplete = "off" } })
        <div class="search-buttons-container">
            @Html.RadioButtonFor(model => model.SearchType, login.Models.SearchType.SourceCode, new { @class = "search-type source-code"})
            <p>Repositories</p>
            @Html.RadioButtonFor(model => model.SearchType, login.Models.SearchType.Article, new { @class = "search-type article" })
            <p>Article</p>
            @Html.RadioButtonFor(model => model.SearchType, login.Models.SearchType.Video, new { @class = "search-type video" })
            <p>Video</p>
            @Html.RadioButtonFor(model => model.SearchType, login.Models.SearchType.Slide, new { @class = "search-type slide" })
            <p>Slide</p>
            <select>
                <option value="volvo">Volvo</option>
                <option value="saab">Saab</option>
                <option value="mercedes">Mercedes</option>
                <option value="audi">Audi</option>
            </select>
        </div>
    }
</div>

@switch (Model.SearchType)
{
    case login.Models.SearchType.SourceCode:
        @Html.Partial("Repo")
        break;
    case login.Models.SearchType.Article:
        @Html.Partial("Article")
        break;
    case login.Models.SearchType.Slide:
        @Html.Partial("Slide")
        break;
    case login.Models.SearchType.Video:
        @Html.Partial("Video")
        break;        
    default:
        break;
}